@using ModelValidation.Models
@model Appointment
@{
    ViewBag.Title = "Make a Booking";
    //Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Book an appointment</h2>

@using (Html.BeginForm())
{
    //adds a summary validation to the user
    //displays error msgs registered with modelState in action method MakeBooking
    //class validation-summary-errors is added to the wrapping div
    //true displays only model lever validation errors
    @Html.ValidationSummary(true)
    //field-validation-erros class is applied in the wrapping span
    <p>@Html.ValidationMessageFor(m => m.ClientName)</p>
    <p>Your name: @Html.EditorFor(m => m.ClientName)</p>

    <p>@Html.ValidationMessageFor(m => m.Date)</p>
    <p>Date of the appointment: @Html.EditorFor(m => m.Date)</p>

    <p>@Html.ValidationMessageFor(m => m.TermsAccepted)</p>
    <p>@Html.EditorFor(m => m.TermsAccepted) I accept terms & conditions</p>
    //helpers add input-Validation-Error class to corresponding properties 
    <input type="submit" value="Make Booking"/>
}