@using ModelValidation.Models
@model Appointment
@{
    ViewBag.Title = "Make a Booking";
    //Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Book an appointment</h2>

@using (Html.BeginForm())
{
    //adds a summary validation to the user
    //displays error msgs registered with modelState in action method MakeBooking
    //class validation-summary-errors is added to the wrapping div
    //true displays only model lever validation errors
    @Html.ValidationSummary(true)
    //field-validation-erros class is applied in the wrapping span
    <p>@Html.ValidationMessageFor(m => m.ClientName)</p>
    <p>Your name: @Html.EditorFor(m => m.ClientName)</p>

    <p>@Html.ValidationMessageFor(m => m.Date)</p>
    <p>Date of the appointment: @Html.EditorFor(m => m.Date)</p>

    <p>@Html.ValidationMessageFor(m => m.TermsAccepted)</p>
    <p>@Html.EditorFor(m => m.TermsAccepted) I accept terms & conditions</p>
    //helpers add input-Validation-Error class to corresponding properties 
    <input type="submit" value="Make Booking"/>
}

@*<form action="/Home/MakeBooking" method="post">
    <p><span class="field-validation-valid" data-valmsg-for="ClientName" data-valmsg-replace="true"></span></p>
    <p>Your name: <input class="text-box single-line" data-val="true" data-val-length="The field Client must be a string with a minimum length of 3 and a maximum length of 10." data-val-length-max="10" data-val-length-min="3" data-val-required="The Client field is required." id="ClientName" name="ClientName" type="text" value="" /></p>
    <p><span class="field-validation-valid" data-valmsg-for="Date" data-valmsg-replace="true"></span></p>
    <p>Date of the appointment: <input class="text-box single-line" data-val="true" data-val-date="The field Date must be a date." data-val-required="Then date is obligatory" id="Date" name="Date" type="date" value="09/12/2020" /></p>
    <p><span class="field-validation-valid" data-valmsg-for="TermsAccepted" data-valmsg-replace="true"></span></p>
    <p><input class="check-box" data-val="true" data-val-required="The TermsAccepted field is required." id="TermsAccepted" name="TermsAccepted" type="checkbox" value="true" /><input name="TermsAccepted" type="hidden" value="false" /> I accept terms & conditions</p>
    <input type="submit" value="Make Booking" />
</form>*@